<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
  package="voc.cn.cnvoccoin"
  >

  <uses-permission android:name="android.permission.INTERNET"/>
  <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
  <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
  <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
  <uses-permission android:name="android.permission.READ_PHONE_STATE"/>
  <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
  <uses-permission android:name="android.permission.ACCESS_WIFI_STATE"/>
  <uses-permission android:name="android.permission.RECORD_AUDIO"/>


  <application
    android:allowBackup="true"
    android:icon="@mipmap/ic_launcher"
    android:label="@string/app_name"
    android:name=".VocApplication"
    android:roundIcon="@mipmap/icon_dollar"
    android:supportsRtl="true"
    android:theme="@android:style/Theme.NoTitleBar"

    >
    <activity
      android:name=".activity.StartActivity"
      android:theme="@style/Theme.AppCompat.Light.NoActionBar">
      <intent-filter>
        <action android:name="android.intent.action.MAIN"/>

        <category android:name="android.intent.category.LAUNCHER"/>
      </intent-filter>
    </activity>
    <activity
      android:launchMode="singleTask"
      android:name=".activity.MainActivity"
      android:theme="@style/Theme.AppCompat.Light.NoActionBar"/>
    <activity
      android:name=".activity.InfoActivity"
      android:theme="@style/Theme.AppCompat.Light.NoActionBar"/>
    <activity
      android:name=".activity.RankActivity"
      android:theme="@style/Theme.AppCompat.Light.NoActionBar"/>
    <activity
      android:name=".activity.VoiceActivity"
      android:theme="@style/Theme.AppCompat.Light.NoActionBar"/>
    <activity
      android:name=".activity.LoginActivity"
      android:theme="@style/Theme.AppCompat.Light.NoActionBar"/>
    <activity
      android:name=".activity.TaskActivity"
      android:theme="@style/Theme.AppCompat.Light.NoActionBar"/>
    <activity
      android:name=".activity.LoginActivityNew"
      android:screenOrientation="portrait"
      android:theme="@style/Theme.AppCompat.Light.NoActionBar"
      />
    <activity
      android:name=".activity.RegistActivity"
      android:screenOrientation="portrait"
      android:theme="@style/Theme.AppCompat.Light.NoActionBar"
      />
    <activity
      android:name=".activity.InvitationActivity"
      android:screenOrientation="portrait"
      android:theme="@style/Theme.AppCompat.Light.NoActionBar"
      />
    <activity
      android:name=".activity.CommnutityActivity"
      android:screenOrientation="portrait"
      android:theme="@style/Theme.AppCompat.Light.NoActionBar"
      />
    <activity
      android:name=".activity.FocusOfficalActivity"
      android:screenOrientation="portrait"
      android:theme="@style/Theme.AppCompat.Light.NoActionBar"
      />
    <activity
      android:name=".activity.NewsActivity"
      android:screenOrientation="portrait"
      android:theme="@style/Theme.AppCompat.Light.NoActionBar"
      />

    <provider
      android:authorities="voc.cn.cnvoccoin.fileprovider"
      android:exported="false"
      android:grantUriPermissions="true"
      android:name="android.support.v4.content.FileProvider">
      <meta-data
        android:name="android.support.FILE_PROVIDER_PATHS"
        android:resource="@xml/filepaths"/>
    </provider>

    <meta-data
      android:name="UMENG_APPKEY"
      android:value="5aeb164cf29d986a430002ef"/>
    <meta-data
      android:name="UMENG_CHANNEL"
      android:value="offical"/>


    //录音界面
    <activity
      android:name=".activity.VoiceActivityNew"
      android:theme="@style/Theme.AppCompat.Light.NoActionBar"/>

    <activity android:name=".activity.SettingActivity"
        android:theme="@style/Theme.AppCompat.Light.NoActionBar" />

    <activity android:name=".activity.WalletActivity"
        android:theme="@style/Theme.AppCompat.Light.NoActionBar" />


  </application>

</manifest>